.last-message-timestamp {
    position: absolute;
    top: 40px;
    right: 20px;
    font-size: 14px;
    color: #9A9898;
  }

  .unread {
    position: relative;
   size:100px;
    top: 8px;
    color: rgba(170, 4, 20, 0.73);
  }
